// Please provide the URL you are referring to, so I can understand the context and assist you better.
// https://chir.ag/projects/name-that-color/

// Font color
$color-font-base: #2f3a3a;
$color-font-link: #0071ea;
$color-font-link-visited: #0071ea;
$color-font-link-hover: #5ba6f6;
$color-font-mark: #2f3a3a;
$color-font-placeholder: #c2c0bf;

// Background color
$color-background-body: #fff;
$color-background-mark: #ffc107;
