// Fonts ========
// Family ======
// Default
$font-main: '游ゴシック Medium', 'Yu Gothic', yugothic, yugothicmedium,
  'Hiragino Kaku Gothic ProN', meiryo, sans-serif;

// Size
$font-size: 16;

// Weight
// $font-thin: 100;
// $font-extra-light: 200;
// $font-light: 300;
// $font-regular: 400;
$font-medium: 500;

// $font-semi-bold: 600;
$font-bold: 700;

// $font-extra-bold: 800;

// $font-black: 900;
