// コンテンツの最大幅
$layout-inner-max-width: 1376px;
$layout-inner-max-width-medium: 1064px;

// コンテンツのpadding
$layout-inner-padding-xs: 4vi;
$layout-inner-padding-sm: 4.6vi;
$layout-inner-padding-md: 32px;
