@use 'assets/scss/global/' as *;

/* stylelint-disable scss/double-slash-comment-empty-line-before */
:root {
  // Fonts
  --leading-trim: calc((1em - 1lh) / 2);
  // Family
  // Default
  --font-main: '游ゴシック Medium', 'Yu Gothic', yugothic, yugothicmedium,
    'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  // Size
  --font-size: $font-size;
  // Weight
  // --font-thin: 100;
  // --font-extra-light: 200;
  // --font-light: 300;
  // --font-regular: 400;
  --font-medium: 500;
  // --font-semi-bold: 600;
  --font-bold: 700;
  // --font-extra-bold: 800;
  // --font-black: 900;

  // Z Index
  // Modal
  --z-index-modal-1: 20000;
  // Header
  --z-index-header-1: 10000;
  --z-index-header-2: 10100;
  --z-index-header-3: 10200;
  --z-index-header-4: 10300;
  // Footer
  --z-index-footer-1: 8000;

  // Scale
  --scale-hover: 1.2;

  // Opacity
  --opacity-hover: 0.6;
  --opacity-disabled: 0.4;

  // Layouts
  // コンテンツの最大幅
  --layout-inner-max-width: 1376px;
  --layout-inner-max-width-medium: 1064px;

  // コンテンツのpadding
  --layout-inner-padding-xs: 4vi;
  --layout-inner-padding-sm: 4.6vi;
  --layout-inner-padding-md: 32px;

  // Colors
  // Please provide the URL you are referring to, so I can understand the context and assist you better.
  // https://chir.ag/projects/name-that-color/

  // Font color
  --color-font-base: #2f3a3a;
  --color-font-link: #0071ea;
  --color-font-link-visited: #0071ea;
  --color-font-link-hover: #5ba6f6;
  --color-font-mark: #2f3a3a;
  --color-font-placeholder: #c2c0bf;

  // Background color
  --color-background-body: #fff;
  --color-background-mark: #ffc107;
}
/* stylelint-enable */

/* リセット ========== */
* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  background: var(--color-background-body);
  block-size: 100%;
  color: var(--color-font-base);
  inline-size: 100%;
  line-height: 1;
}

body {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-block: 0;
  border-inline: 0;
  font-family: var(--font-main);
  font-weight: var(--font-medium);
  inline-size: 100%;
  line-height: 1.6;
  margin-block: 0;
  margin-inline: 0;
  overflow: clip auto;
  padding-block: 0;
  padding-inline: 0;
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* stylelint-disable */
article,
aside,
details,
figcaption,
include,
footer,
header,
hgroup,
main,
nav,
section,
summary,
figure {
  display: block;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}
/* stylelint-enable */

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
blockquote,
ul,
ol,
li {
  margin-block: 0;
  margin-inline: 0;
  -webkit-overflow-wrap: break-word;
  overflow-wrap: break-word;
  padding-block: 0;
  padding-inline: 0;
  vertical-align: baseline;
  -webkit-word-wrap: break-word;
  word-wrap: break-word;
}

ul,
ol {
  list-style: none;
}

figcaption,
span {
  -webkit-overflow-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-word-wrap: break-word;
  word-wrap: break-word;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  block-size: 0;
  display: none;
}

[hidden]:not([hidden='until-found']),
template {
  display: none;
}

a {
  color: var(--color-font-link);
  cursor: pointer;
  text-decoration: none;
  transition:
    0.3s color,
    0.3s opacity,
    0.3s background-color,
    0.3s border-color;

  &:link,
  &:visited {
    color: var(--color-font-link-visited);
    text-decoration: none;
  }

  @include mxMediaHover {
    &:hover,
    &:active {
      color: var(--color-font-link-hover);
      text-decoration: underline;
    }
  }
}

button {
  cursor: pointer;
  font-family: var(--font-main);
  font-weight: var(--font-medium);
}

abbr[title] {
  border-block-end: 1px dotted;
}

i,
em,
address {
  font-style: normal;
}

b,
strong,
em {
  font-weight: var(--font-bold);
}

dfn {
  font-style: italic;
}

mark {
  background-color: var(--color-background-mark);
  color: var(--color-font-mark);
}

small {
  font-size: 100%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  inset-block-start: -0.5em;
}

sub {
  inset-block-end: -0.25em;
}

img {
  block-size: auto;
  border-block: none;
  border-inline: none;
  // stylelint-disable-next-line property-no-unknown
  interpolation-mode: bicubic;
  max-inline-size: 100%;
  vertical-align: top;
}

svg {
  overflow: hidden;
}

hr {
  block-size: 0;
  box-sizing: content-box;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-main);
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;

  @include mxGetFontSize(10);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding-block: 0;
  padding-inline: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
blockquote,
ul,
ol,
li {
  font-size: get-clamp-rem(14, 16);
}

[role='tabpanel']:target {
  display: revert;
}

// stylelint-disable-next-line scss/at-rule-no-unknown
@view-transition {
  // stylelint-disable-next-line property-no-unknown
  navigation: auto;
}
